.homepage {
  width: 100vw;
  overflow: hidden;
}

.navbar {
  position: fixed;
  background-color: rgb(36, 36, 36);
  height: 100vh;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(82, 82, 82);
}

.link {
  margin: 4rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.splashSection {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -2;
  margin: 0;
  padding: 0;
}

.logoDiv{
  position: relative;
}

.icon {
  color: white;
  height: 10rem;
  margin-right: 2rem;
}

.rgb {
  position: absolute;
  background-position: center;
  background-size: 400%;
  height: 60%;
  animation: Animation 0.8s infinite;
  background-image: linear-gradient(
    90deg,
  rgb(255, 0, 0),
  rgb(234, 0, 255),
  rgb(255, 115, 0),
  rgb(255, 238, 0),
  rgb(187, 255, 0),
  rgb(0, 255, 13),
  rgb(0, 255, 170),
  rgb(0, 47, 255),
  rgb(162, 0, 255),
  );
  clip-path: polygon(57% 8%, 80% 52%, 100% 9%, 100% 17%, 80% 88%, 57% 15%, 42% 43%, 0 1%, 0 0, 39% 34%);
  z-index: 10;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

@keyframes Animation { 
  0% {background-position: left;}
  100% {background-position: right;}
}

.textDiv {
  position: absolute;  
  bottom: 0;
  width: 100%;
  color: white; 
  background-image: linear-gradient(45deg, #250000, rgb(82, 0, 0), #250000);
  height: 45%;
  clip-path: polygon(57% 8%, 80% 52%, 100% 9%, 100% 100%, 84% 100%, 50% 100%, 18% 100%, 0 100%, 0 0, 42% 25%);
  z-index: 2;  
}

.textInner {
  margin: calc(12% - 0.8vw) 0 0 20%;
  font-size: 3rem;
  width: 90%;
}

.logo {
  position: absolute;
  font-size: calc(7rem + 1.5vw);
  color: white;
  text-align: right;
  width: 90%;  
}
